@using test_kumo_eip0001model.Resources;
@model AnnouncementViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@StringResources.EditItem</h3>
            </div>
            <hr />
            <div class="panel-body">

                <div class="col-md-12">
                    @Html.HiddenFor(p => p.Id)
                    <div style="display: none;">
                        @Html.EditorFor(p => p.Created, new { @style = "display: none;" })
                        @Html.EditorFor(p => p.Modified)
                        @Html.EditorFor(p => p.PublishedDate)
                    </div>

                    @Html.EditorFor(model => model.Title)

                    @Html.EditorFor(model => model.Body)
                </div>

                <div class="col-md-3" style="border-left: dotted 1px #808080;display:none">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="panel-footer">
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-7">
                        <input type="submit" class="btn btn-primary" value="Save" /> | @Html.ActionLink(StringResources.BackToList, "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/Scripts/val")
    @Scripts.Render("~/Scripts/md")

}

