@model test_kumo_eip0001model.ViewModels.ReportDocumentViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   @Html.HiddenFor(model => model.ParentId,new {Id = "rootId"});
        @*@Html.EditorFor(model => model.ParentId)*@
    <div class="form-horizontal">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@StringResources.UploadDocument</h3>
            </div>
            <hr />
            <div class="panel-body">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name)
                </div>
            </div>
            <div class="panel-footer">
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-7">
                        <input type="submit" class="btn btn-primary" value="Add" /> | @Html.ActionLink(StringResources.BackToList, "Index", new { root = Model.ParentId })
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/Scripts/val")
    @Scripts.Render("~/Scripts/md")

}



