@model KUMO.CentralAdmin.Model.Client

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrum {

    <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
    <li>@Html.ActionLink(Model.ClientName, "Details", "Clients", new { id = Model.Id }, null)</li>

    <li class="active">Delete</li>

}

<h3 class="panel-title">Delete a client</h3>

<div>
    <h4>Are you sure you want to delete this?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DBName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DBName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DBUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DBUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DBPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DBPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DBServer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DBServer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComponentNames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComponentNames)
        </dd>
    </dl>
    <hr/>
    <div class="form-group">
        
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="alert alert-warning" style="font-weight:bold;">
                    Warning: Please aware that database will be removed permanently. 
                </div>
                <div class="col-md-offset-4">
                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-primary" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            }
    </div>
</div>
