@model test_kumo_eip0001model.Calendar
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@StringResources.DeleteItem</h3>
        </div>
        <div class="panel-body">
            @{

                <h3>@StringResources.DeleteConfirmMessage</h3>

            }
            <hr />
            <div>

                <dl class="dl-horizontal">
                    <dt>
                        @ERPResource.JobScope
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.JobScope)
                    </dd>
                    <dt>
                        @ERPResource.Priority
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Priority)
                    </dd>                    

                    <dt>
                        @ERPResource.StartDate
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StartDate, "StandardDateFormat")
                    </dd>

                    <dt>
                        @ERPResource.DueDate
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DueDate, "StandardDateFormat")
                    </dd>

                    <dt>
                        @ERPResource.CompletionDate
                    </dt>

                    <dd>
                        @if (Model.CompletedDate.HasValue)
                        {
                            @Html.DisplayFor(modelItem => modelItem.CompletedDate, "StandardDateFormat")
                        }
                        else
                        {
                        }
                    </dd>

                    <dt>
                        @ERPResource.AssignedTo
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.User.Firstname)
                        @Html.DisplayFor(model => model.User.Lastname)
                    </dd>

                    <dt>
                        @ERPResource.CompletePercent
                    </dt>

                    <dd>                        
                        @Html.Raw((string.Format("{0:0}", Model.CompletedPercent * 100)))
                    </dd>

                    <dt>
                        @ERPResource.Status
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>                  
                </dl>


            </div>
        </div>
        <div class="panel-footer">
            <div class="form-group">
                <div class="col-md-offset-4 col-md-7">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-primary" /> |
                            @Html.ActionLink(StringResources.BackToList, "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

